body {
	background-color: #000;
	color: #fff;
	font-family: 'Poppins', sans-serif;
}

#content {
	margin: 0 auto;
	width: 450px;
}

a:visited, a:link {
	color: #FFC806;
	text-decoration: none;
}

a:hover {
	color: hotpink;
}

ul {
	list-style-type: none;
	text-align: left;
	padding-left: 0;
}
