body {
	background-color: #000;
	color: #fff;
	font-family: 'Poppins', sans-serif;
}

p {
	margin-block-start: 2em;
	margin-block-end: 2em;
}

#content {
	margin: 0 auto;
	width: 450px;
}

@media only screen and (max-width: 500px) {
	#content {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		position: relative;
	}
}

a:visited, a:link {
	color: #FFC806;
	text-decoration: none;
}

a:hover {
	color: hotpink;
}

ul {
	list-style-type: none;
	text-align: left;
	padding-left: 0;
}

figure {
	margin-inline: 0;
}

figure img {
	border-radius: 8px;
}

figcaption p {
	margin-block-start: 0;
	font-style: italic;
	font-size: 12px;
}
